<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragment/fragments::header}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!--Sidebar-->
        <ul th:replace="~{fragment/fragments::sidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{fragment/fragments::topbar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleAddCategoryModal"
                    data-whatever="@mdo">Add new category
            </button> -->
                <p th:if="${size == 0}">No category</p>
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}">
                    </p>
                </div>
                <div th:if="${error}" class="text-center alert alert-danger">
                    <p th:text="${error}"></p>
                </div>

                <table class="table table-striped tblType" th:if="${size > 0}">
                    <thead>
                        <tr>
                            <th scope="col">User Index</th>
                            <th scope="col">User Name</th>
                            <th scope="col">User Address</th>
                            <th scope="col">User Phone</th>
                            <!-- <th scope="col">Update Name</th> -->
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr th:each="users : ${usersss}">
                            <th scope="row" th:text="${users.id}"></th>
                            <td th:text="${users.username}"></td>
                            <td th:text="${users.address}"></td>
                            <td th:text="${users.phone}"></td>
                            <td>
                                <a th:if="${ users.username!='Admin'}" th:href="@{'#' + ${users.id}}" id=""
                                    class="btn btn-danger btn-delete-user">Delete</a>
                            </td>
                        </tr> -->
                    </tbody>
                </table>

                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{fragment/fragments::footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{fragment/fragments::scroll}"></a>

    <!--Add Categories Modal-->
    <div class="modal fade" id="exampleAddCategoryModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleAddCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleAddCategoryModalLabel">New Category</h5>
                </div>
                <div class="modal-body">
                    <form th:action="@{/save-category}" method="post">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Category Name:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--End-->

    <!-- Edit Category Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
                </div>
                <div class="modal-body">
                    <form th:action="@{/update-category}" method="put">
                        <div class="form-group">
                            <label for="idEdit" class="col-form-label">ID
                            </label> <input type="text" class="form-control" id="idEdit" name="id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="nameEdit" class="col-form-label">Category
                                Name</label> <input type="text" class="form-control" id="nameEdit" name="name">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
    <!-- Bootstrap core JavaScript-->
    <div th:replace="~{fragment/fragments::script}"></div>

    <script th:src="@{/js/categories.js}"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            ajaxGet();

            function ajaxGet() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8888/api/user/all",
                    success: function (result) {
                        $.each(result, function (i, danhMuc) {
                            var danhMucRow = '<tr style="text-align: center;">' +
                                '<td width="20%">' + danhMuc.id + '</td>' +
                                '<td>' + danhMuc.username + '</td>' +
                                '<td>' + danhMuc.address + '</td>' +
                                '<td>' + danhMuc.phone + '</td>' +
                                '<td>' + '<input type="hidden" value=' + danhMuc.id + '>' +
                                // + '<button class="btn btn-primary btnCapNhatDanhMuc" >Cập nhật</button>' +
                                '   <button class="btn btn-danger btnXoaDanhMuc"' + (danhMuc.username.toLowerCase() === 'admin' ? ' style="display: none;"' : '') + '>Xóa</button></td>'
                            '</tr>';

                            $('.tblType tbody').append(danhMucRow);
                        });


                    },
                    error: function (e) {
                        alert("Error: ", e);
                        console.log("Error", e);
                    }
                });
            };

            $(document).on("click", ".btnXoaDanhMuc", function () {

                var danhMucId = $(this).parent().find('input').val();
                var workingObject = $(this);

                var confirmation = confirm("Bạn chắc chắn xóa người dùng này ?");
                if (confirmation) {
                    $.ajax({
                        type: "DELETE",
                        url: "http://localhost:8888/api/user/all/" + danhMucId,
                        success: function (resultMsg) {
                            //  resetDataForDelete();
                            window.location.reload();
                            alert("Xóa thành công");
                        },
                        error: function (e) {
                            alert("Không thể xóa danh mục này ! Hãy kiểm tra lại");
                            console.log("ERROR: ", e);
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>