<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment/fragment::header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .number {
            cursor: pointer;
        }

        .number:hover {
            cursor: pointer;
            /* Thêm các kiểu CSS khác cho hover */
        }

        .number:active {
            cursor: pointer;
            /* Thêm các kiểu CSS khác cho khi nhấp chuột */
        }
    </style>
</head>

<body>
    <div th:replace="fragment/fragment::sidebar"></div>

    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords"
                            aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->


    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Shop</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Shop</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <h1 class="mb-4">Fresh fruits shop</h1>
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <form th:action="@{/search-product}" method="get">
                            <div class="col-xl-3">
                                <div class="input-group w-100 mx-auto d-flex">

                                    <input id="key" name="key" type="search" class="form-control p-3"
                                        placeholder="keywords" aria-describedby="search-icon-1">
                                    <button type="submit" id="search-icon-1"
                                        class="input-group-text p-3 btnSearchDanhMuc"><i
                                            class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="col-6"></div>
                        <div class="col-xl-3">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                                <label for="fruits">Sorting by :</label>
                                <select id="my-select" name="fruitlist" class="border-0 form-select-sm bg-light me-3"
                                    form="fruitform">
                                    <option th:value="null">All</option>
                                    <option th:each="category : ${type}" th:value="${category.id}"
                                        th:text="${category.name}"></option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Sorted By</h4>
                                        <ul class="list-unstyled fruite-categorie">
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <button class="btn btn-primary btnTangGia">
                                                         Price Up &uarr;
                                                        
                                                    </button>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <button class="btn btn-primary btnGiamGia">
                                                         Price Down &darr;
                                                    </button>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4 class="mb-2">Price</h4>
                                        <label for="minInput">Enter the minimum price:</label>
                                        <input min="0" type="number" id="minInput" name="minInput">

                                        <label for="maxInput">Enter the highest price</label>
                                        <input min=0 type="number" id="maxInput" name="maxInput">

                                        <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput"
                                            min="0" max="500" value="0">
                                        <output id="amount" name="amount" min-velue="0" max-value="500"
                                            for="rangeInput">0</output>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Additional</h4>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-1" name="Categories-1"
                                                value="Beverages">
                                            <label for="Categories-1"> Organic</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-2" name="Categories-1"
                                                value="Beverages">
                                            <label for="Categories-2"> Fresh</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-3" name="Categories-1"
                                                value="Beverages">
                                            <label for="Categories-3"> Sales</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-4" name="Categories-1"
                                                value="Beverages">
                                            <label for="Categories-4"> Discount</label>
                                        </div>
                                        <div class="mb-2">
                                            <input type="radio" class="me-2" id="Categories-5" name="Categories-1"
                                                value="Beverages">
                                            <label for="Categories-5"> Expired</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h4 class="mb-3">Featured products</h4>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="img/featur-1.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="img/featur-2.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="img/featur-3.jpg" class="img-fluid rounded" alt="">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                                <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center my-4">
                                        <a href="#"
                                            class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew
                                            More</a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="position-relative">
                                        <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                        <div class="position-absolute"
                                            style="top: 50%; right: 10px; transform: translateY(-50%);">
                                            <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row g-4 justify-content-center tblType">
                                <!-- <div th:each="users : ${product}" class="col-md-6 col-lg-6 col-xl-4"> -->
                                <!-- <div class="col-md-6 col-lg-6 col-xl-4 "> -->
                                <!-- <form th:action="@{/add-to-cart}" method="post">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img th:src="'data:image/jpeg;base64,' + ${users.image}"
                                                    style="height: 250px" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;" th:text="${users.type.name}"></div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4 th:text="${users.name}"></h4>
                                                <div style="height: 200px">
                                                    <p th:text="${users.description}"></p>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                                                        eiusmod te incididunt</p>
                                                    <a th:href="@{/detail(id = ${users.id})}">Show More...</a>
                                                </div>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0"
                                                        th:text="'$'+ ${users.price}+' /kg'"></p>
                                                    <input type="hidden" th:value="${users.id}" name="id"
                                                        class="form-control">
                                                    <button type="submit"
                                                        class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                                            class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                                                        cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form> -->
                                <!-- </div> -->
                                <!--Pagination  -->
                                <!-- <nav aria-label="...">
                                    <ul class="pagination">
                                        <li th:if="${currentPage != 0}" class="page-item ">
                                            <a th:href="@{'/products/' + ${currentPage - 1}}"
                                                class="page-link">Previous</a>
                                        </li>
                                        <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                                            th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                                            <a th:href="@{'/products/' + ${i - 1}}" class="page-link" href="#">
                                                <span th:text="${i}">
                                                </span></a>
                                        </li>
                                        <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                                            <a th:href="@{'/products/' + ${currentPage + 1}}" class="page-link"
                                                href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav> -->
                                <!--Pagination  -->

                                <!-- <div class="col-12">
                                    <div class="pagination d-flex justify-content-center mt-5 pagination"> -->
                                <!-- <p>
                                            <a th:if="${currentPage != 0}"
                                                th:href="@{'/shop?pageNo=' + ${currentPage - 1}}"
                                                class="rounded">&laquo;</a>
                                        </p>
                                        <p th:each="i : ${#numbers.sequence(1, totalPages)}">
                                            <a th:href="@{'/shop?pageNo=' + ${i - 1}}"
                                                th:classappend="${currentPage == i - 1 ? 'active' : ''}"
                                                class="rounded">
                                                <span th:text="${i}">
                                                </span>
                                            </a>
                                        </p>
                                        <p>
                                            <a th:if="${currentPage + 1 != totalPages}"
                                                th:href="@{'/shop?pageNo=' + ${currentPage + 1}}"
                                                class="rounded">&raquo;</a>
                                        </p> -->
                                <!-- </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->

    <div th:replace="fragment/fragment::footer"></div>
    <div th:replace="fragment/fragment::script"></div>
    <script>
        // function updateOutput() {
        //     var rangeValue = document.getElementById("rangeInput").value;
        //     document.getElementById("amount").value = rangeValue;

        //     // Gửi giá trị min, max và giá trị thay đổi lên server
        //     //sendToServer(min, max, rangeValue);
        // }

        // function updateRange() {
        //     var minInput = document.getElementById("minInput").value;
        //     var maxInput = document.getElementById("maxInput").value;
        //     var rangeInput = document.getElementById("rangeInput");

        //     // Kiểm tra giá trị min và max hợp lệ
        //     if (minInput <= maxInput) {
        //         rangeInput.min = minInput;
        //         rangeInput.max = maxInput;
        //     }
        // }

        $(document).ready(function () {
            var check = '';
            var key = '';
            var price = 0;

            ajaxGet(1);

            function ajaxGet(page) {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8888/api/product/page/" + page,
                    success: function (result) {
                        $.each(result.content, function (i, danhMuc) {

                            var danhMucRow = '<div class="col-md-6 col-lg-6 col-xl-4 trr"><form >' +
                                '<div class="rounded position-relative fruite-item">' +
                                '<div class="fruite-img">' +
                                '<img style="height: 250px" class="img-fluid w-100 rounded-top my-product-image" alt="">' +
                                ' </div>' +
                                '<div class="text-white bg-secondary px-3 py-1 rounded position-absolute "' +
                                ' style="top: 10px; left: 10px;" text="' + danhMuc.type.name + '"><p class="Type"></p></div>' +
                                '<div class="p-4 border border-secondary border-top-0 rounded-bottom">' +
                                '<h4 style="height:80px;">' + danhMuc.name + '</h4>' +
                                '<div style="height: 250px">' +
                                '<p >' + danhMuc.description + '</p>' +
                                '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do' +
                                'eiusmod te incididunt</p>' +
                                ' <p style="display: block;" class="text-dark fs-5 fw-bold mb-0">' + danhMuc.price + '/kg</p>' +
                                '<a href="/detail?id=' + danhMuc.id + '">Show More...</a>' +
                                ' </div>' +
                                '<div class="d-flex justify-content-between flex-lg-wrap">' +

                                ' <input type="hidden" value=' + danhMuc.id + ' name="id"' +
                                '  class="form-control">' +
                                '  <button type="submit" style="display: block;"' +
                                'class="btn border border-secondary rounded-pill px-3 text-primary btnAddToCart"><i' +
                                ' class="fa fa-shopping-bag me-2 text-primary"></i> Add to' +
                                'cart</button>' +
                                ' </div>' +
                                '</div>' +
                                '</div>' +
                                '</form></div>';

                            var $danhMucRow = $(danhMucRow); // Tạo một đối tượng jQuery từ chuỗi HTML

                            var dataURI = 'data:image/jpeg;base64,' + danhMuc.image; // Đường dẫn base64 của ảnh

                            $danhMucRow.find('.my-product-image').attr('src', dataURI); // Đặt dữ liệu base64 vào thuộc tính src của phần tử <img>

                            $danhMucRow.find('.Type').text(danhMuc.type.name);

                            $('.tblType').append($danhMucRow);
                            // $('.tblType tbody').append(danhMucRow);
                        });

                        $('.tblType').append('<div class="col-12"><div class="pagination d-flex justify-content-center mt-5 pagination"></div></div>');

                        if (result.totalPages > 1) {
                            for (var numberPage = 1; numberPage <= result.totalPages; numberPage++) {
                                // var li = '<li class="page-item "><a class="pageNumber">' + numberPage + '</a></li>';
                                // <p th:each="i : ${#numbers.sequence(1, totalPages)}">
                                var li = '<p style="cursor: pointer;"><a class="rounded pageNumber">' +
                                    '<span class="number" text="' + numberPage + '">' +
                                    ' </span>' +
                                    '</a></p>';
                                // </p>

                                var $li = $(li);
                                $li.find('.number').text(numberPage);

                                $('.pagination').append($li);
                            };


                            // active page pagination
                            $(".number").each(function (index) {
                                if ($(this).text() == (parseInt(page, 10))) {
                                    $(this).parent().removeClass().addClass("rounded pageNumber active");
                                }
                            });
                        };

                    },
                    error: function (e) {
                        alert("Error: ", e);
                        console.log("Error", e);
                    }
                });
            };

            $("#minInput, #maxInput").on("change", function () {
                updateRange();
            });

            $("#rangeInput").on("input", function () {
                updateOutput();
            });

            function updateOutput() {
                var rangeValue = $("#rangeInput").val();
                price = rangeValue;
                key = '';
                check='';
                console.log(price);
                $("#amount").val(rangeValue);
                var url = "http://localhost:8888/api/product/minmax/1?min="
                if ($("#minInput").val() == '') {
                    url += "0&max=" + $("#rangeInput").val();
                } else {
                    url += $("#minInput").val() + "&max=" + $("#rangeInput").val();
                }

                console.log(url);
                sendSelectedOption(url, 1);
            }

            function resetMinMax(){
                $("#minInput").val(0);
                $("#maxInput").val(0);
                $("#rangeInput").val(0);
                price = 0;
            }

            function updateRange() {
                var minInput = $("#minInput").val();
                var maxInput = $("#maxInput").val();
                var rangeInput = $("#rangeInput");
                price = rangeInput.val();
                console.log(minInput);
                console.log(maxInput);

                // Kiểm tra giá trị min và max hợp lệ
                if (minInput <= maxInput) {
                    rangeInput.attr("min", minInput);
                    rangeInput.attr("max", maxInput);
                    
                }
            }

            $(document).on("click", ".btnSearchDanhMuc", function () {
                resetMinMax();
                event.preventDefault();
                $('.tblType tbody').empty();
                var url = "http://localhost:8888/api/product/page/1?key=" + $('#key').val();
                key = $('#key').val();
                console.log(key);
                sendSelectedOption(url, 1);

            });

            $(document).on('click', '.number', function (event) {
                event.preventDefault();
                var page = $(this).text();
                $('.tblType div').remove();
                $('.pagination p').remove();

                var selectedOption = $('#my-select').val();
                console.log(selectedOption);
                var url = "http://localhost:8888/api/product/page/" + page;
                if (price > 0) {
                    urlk = "http://localhost:8888/api/product/minmax/"+page+"?min="
                    if ($("#minInput").val() == '') {
                        urlk += "0&max=" + $("#rangeInput").val();
                    } else {
                        urlk += $("#minInput").val() + "&max=" + price;
                    }
                    sendSelectedOption(urlk, page);
                }

                if (key == '') {
                    if (selectedOption !== '') {
                        url += '?id=' + selectedOption;
                        if (check != '') {
                            url += '&sort=' + check;
                        }
                    }
                    else {
                        if (check != '') {
                            url += '?sort=' + check;
                        }

                    }
                    console.log(url);

                    sendSelectedOption(url, page);
                } else {
                    url += '?key=' + key;
                    console.log(url);
                    sendSelectedOption(url, page);
                }


                //ajaxGet(page);
            });

            $(document).on("click", ".btnAddToCart", function () {

                var danhMucId = $(this).parent().find('input').val();
                var workingObject = $(this);

                $.ajax({
                    type: "POST",
                    url: "http://localhost:8888/api/cart/add-to-cart?id=" + danhMucId,
                    success: function (resultMsg) {
                        //  resetDataForDelete();
                        window.location.reload();
                        alert("Thêm giỏ hàng thành công");
                    },
                    error: function (e) {
                        alert("Không thể thêm giỏ hàng ! Hãy kiểm tra lại");
                        console.log("ERROR: ", e);
                    }
                });
            });

            $('#my-select').on('change', function () {
                var selectedOption = $(this).val();
               resetMinMax();
                check = '';
                key = '';
                $('#key').val('');
                console.log(check);
                console.log(selectedOption);
                var url = "http://localhost:8888/api/product/page/1";
                if (selectedOption !== '') {
                    url += '?id=' + selectedOption;
                }
                sendSelectedOption(url, 1);

            });

            $(document).on("click", ".btnTangGia", function () {
                event.preventDefault();
                var selectedOption = $('#my-select').val();
                check = 'asc';
                $('#key').val('');
                key = '';
                resetMinMax();
                console.log(check);
                console.log(selectedOption);

                var url = "http://localhost:8888/api/product/page/1?sort=" + check;
                if (selectedOption !== '') {
                    url += '&id=' + selectedOption;
                }
                console.log(url);
                sendSelectedOption(url, 1);

            });

            $(document).on("click", ".btnGiamGia", function () {
                event.preventDefault();
                var selectedOption = $('#my-select').val();
                check = 'desc';
                $('#key').val('');
                key = '';
                resetMinMax();
                console.log(check);
                console.log(selectedOption);
                var url = "http://localhost:8888/api/product/page/1?sort=" + check;
                if (selectedOption !== '') {
                    url += '&id=' + selectedOption;
                }
                console.log(url);
                sendSelectedOption(url, 1);
            });

            function sendSelectedOption(url, page) {
                $.ajax({
                    url: url,
                    method: 'GET',
                    //data: { id: option },
                    success: function (result) {
                        $('.tblType').empty();
                        $.each(result.content, function (i, danhMuc) {

                            var danhMucRow = '<div class="col-md-6 col-lg-6 col-xl-4 trr"><form >' +
                                '<div class="rounded position-relative fruite-item">' +
                                '<div class="fruite-img">' +
                                '<img style="height: 250px" class="img-fluid w-100 rounded-top my-product-image" alt="">' +
                                ' </div>' +
                                '<div class="text-white bg-secondary px-3 py-1 rounded position-absolute "' +
                                ' style="top: 10px; left: 10px;" text="' + danhMuc.type.name + '"><p class="Type"></p></div>' +
                                '<div class="p-4 border border-secondary border-top-0 rounded-bottom">' +
                                '<h4 style="height:80px;">' + danhMuc.name + '</h4>' +
                                '<div style="height: 250px">' +
                                '<p >' + danhMuc.description + '</p>' +
                                '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do' +
                                'eiusmod te incididunt</p>' +
                                ' <p style="display: block;" class="text-dark fs-5 fw-bold mb-0">' + danhMuc.price + '/kg</p>' +
                                '<a href="/detail?id=' + danhMuc.id + '">Show More...</a>' +
                                ' </div>' +
                                '<div class="d-flex justify-content-between flex-lg-wrap">' +

                                ' <input type="hidden" value=' + danhMuc.id + ' name="id"' +
                                '  class="form-control">' +
                                '  <button type="submit" style="display: block;"' +
                                'class="btn border border-secondary rounded-pill px-3 text-primary btnAddToCart"><i' +
                                ' class="fa fa-shopping-bag me-2 text-primary"></i> Add to' +
                                'cart</button>' +
                                ' </div>' +
                                '</div>' +
                                '</div>' +
                                '</form></div>';

                            var $danhMucRow = $(danhMucRow); // Tạo một đối tượng jQuery từ chuỗi HTML

                            var dataURI = 'data:image/jpeg;base64,' + danhMuc.image; // Đường dẫn base64 của ảnh

                            $danhMucRow.find('.my-product-image').attr('src', dataURI); // Đặt dữ liệu base64 vào thuộc tính src của phần tử <img>

                            $danhMucRow.find('.Type').text(danhMuc.type.name);

                            $('.tblType').append($danhMucRow);
                            // $('.tblType tbody').append(danhMucRow);
                        });

                        $('.tblType').append('<div class="col-12"><div class="pagination d-flex justify-content-center mt-5 pagination"></div></div>');

                        if (result.totalPages > 1) {
                            for (var numberPage = 1; numberPage <= result.totalPages; numberPage++) {
                                // var li = '<li class="page-item "><a class="pageNumber">' + numberPage + '</a></li>';
                                // <p th:each="i : ${#numbers.sequence(1, totalPages)}">
                                var li = '<p style="cursor: pointer;"><a class="rounded pageNumber">' +
                                    '<span class="number" text="' + numberPage + '">' +
                                    ' </span>' +
                                    '</a></p>';
                                // </p>

                                var $li = $(li);
                                $li.find('.number').text(numberPage);

                                $('.pagination').append($li);
                            };


                            // active page pagination
                            $(".number").each(function (index) {
                                if ($(this).text() == (parseInt(page, 10))) {
                                    $(this).parent().removeClass().addClass("rounded pageNumber active");
                                }
                            });
                        };

                    },


                    error: function (xhr, status, error) {
                        // Xử lý lỗi
                        console.log(error);
                    }
                });
            }

        })
    </script>
</body>

</html>